.kutucuk
{
    
    border-radius: 150px;
}

.sagla 
{
    text-align: right;
}

.logo 
{
    margin: 150px 0px 0px 40% ;
}

.arama
{
    width: 480px;
    border-radius: 10px;
    height: 30px;
    margin-left: 490px;
}
.border {
    border-radius: 10px;
    border:1px solid #f2f2f2;
    height: 36px;
    margin: 1%;
    
}
.center{
    text-align: center;
}
.footer{
    
    text-align: left;
    height: 36px;
    margin: 2%;
    position: absolute;
    bottom: 5%;
}